<article class="customer-details-wrapper">

    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#/dash"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Customer Details</li>
        </ol>
    </section>

<section class="home-section">

    <header>
       <div>  <h3>List of Customers</h3></div>
    </header>
     <table st-table="displayedCollection" st-safe-src="rowCollection" class="table customer-list">
        <thead class="sra-table-header">
        <tr>

            <td colspan="3">

                <div class=" col-sm-6 col-xs-6 pull-right search-box input-group">
                    <div col>
                        <input st-search placeholder="Search using any Customer info" st-delay="100" class="input-sm form-control" type="search" />
                        <span class="input-group-addon" style="border:  none !important;"><i class="fa fa-check"></i></span>
                    </div>

                </div>
            </td>
            <td >

                <div class=" pull-right btn-group" role="group">
                    <button type="button" class="btn btn-success glyphicon glyphicon-refresh" ng-click="loadCustomers()"></button>
                </div>
            </td>
        </tr>

        <tr class="sra-table-header-row" style="cursor: hand !important;">
            <th st-sort="id" class="sra-table-header-col">Customer ID</th>
            <th st-sort="customername" class="sra-table-header-col">Customer Name</th>
            <th st-sort="productname" class="sra-table-header-col">Product Name</th>
            <th st-sort="status" class="sra-table-header-col">Status</th>
        </tr>

        </thead>
        <tbody>
        <div ng-if="isLoading" class="loading-indicator"></div>

        <tr ng-if="displayedCollection.length===0">
            <td colspan="4"> No customers exists for this user.</td>
        </tr>
        <tr  st-select-row="row"  ng-repeat="row in displayedCollection" ng-click="viewDetails(row)">
            <td>{{row.id}}</td>
            <td>{{row.customername}}</td>
            <td>{{row.productname}}</td>
            <td>{{row.status}}</td>
        </tr>
        </tbody>
        <tfoot>

        <tr class="sra-pagination-tr">
            <td colspan="4" class="text-center sra-pagination-td">

            </td>
        </tr>
        <tr>
            <td colspan="4">

                <div st-pagination="" class="sra-pagination" st-items-by-page="10" st-displayed-pages="7"></div>
            </td>

        </tr>

        </tfoot>
    </table>

</section>


</article>